.navbar-nav a img {
    width: 20px;
    height: 20px;
}
#gen-trigger {
    margin-bottom: 10px;
}
.footer-table th, .footer-table td{
    width: 33%;
}

.highlighted {
    color: red;
    background-color: yellow;
}

#predefined p {
    text-align: center;
}